body{
    margin: 0;
}

    .edit-review-box {
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 20px;
    }

@media screen and (max-width: 650px) {
    .edit-review-box {
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 17px;
    }
}