body{
    margin: 0;
}

.user-review-box {
    width: 95%;
    height: 60px;
    margin-bottom: 2%;
    margin-top: 2%;
}

@media screen and (max-width: 650px) {
    .user-review-box {
        width: 95%;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 60px;
    }
}