@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

.companyLogo  {
  color:rgb(77, 80, 83);
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.companyLogo-icon {
  width: 90%;
  height: 80%;
}
.logoSpace {
  color: #e82953;
}

.login:hover {
  cursor: pointer;
}

.signup:hover {
  cursor: pointer;
}

.user-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding-top: 20px;
}


  .dropdown-content span {
    display: block;
    text-decoration: none;
    min-width: 180px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    color:#555555;
    background-color: #f6f8fa;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);
    
  }
  
  .dropdown-content{
    display: none;
  }

  .dropdown-content span:hover{
    color:#000000;
    background-color: #e7e7e7; 
  }
  
  .dropdown-nav:hover .dropdown-content{
        display: block;
        position: absolute; 
          
  } 

  .dropdown-nav:hover{
    cursor: pointer;
    color:#e82953;
    
  }
  .activities-dropdown {
    margin-left: 9rem;
    margin-right: 2rem;
  }
  /* .login-dropdown {
    margin-left: 15rem;
    margin-right: 2rem;
  } */
  .activities-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar {
    /*added flex wrap..change in all*/
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        grid-template-rows: 1fr;
        /* justify-content: space-around; */
        align-items: center;
        /* flex-wrap: wrap; */
        line-height: 53px;
        background-color: white;
        position: sticky;
        z-index: 999;
        top: 0;
        box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);
        
  } 

  .dropdown-arrow{
    height: 10px;
    width: 10px
  }

@media screen and (max-width: 450px) {
  .navbar {
    display: flex;
    flex-direction: column;
    z-index: 999;
  } 
  .activities-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* flex-direction: row; */
    justify-content: space-between;
    float: left;
  }
  .activities-dropdown {
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .login-dropdown {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .dropdown-content span {
    display: block;
    text-decoration: none;
    min-width: 110px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 40px;
    color:#555555;
    background-color: #f6f8fa;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 5%), -1px -1px 2px rgb(0 0 0 / 8%);
    
  }
  .user-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  /* padding-top: 20px; */
}
.dropdown-nav {
  padding: 0.1vh;
}
}