@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}
.signup_tagline {
  margin-top:5%;
  margin-left: 5%;
  margin-right: 5%;
  color: #e82953;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 20%;
}
.loginBtn {
  background-color: #e82953;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  min-width: 80px;
  max-width: 80px;
  margin: 40px;
}

.signupBtn {
  background-color: #e82953;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  min-width: 80px;
  max-width: 80px;
  margin-left: 60px;
}

.login_div {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 55%;
    left: 50%;
    margin-top: -150px;
    margin-left: -175px;
}

.login_form {
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  border: solid 1px;
  
}

.loginEmail {
  margin: 30px;
  padding-left: 30px;
}

.loginPass {
  margin: 30px;
  padding-left: 30px;
}
.loginEmailValidation {
  /* margin: 30px; */
  padding-left: 40px;
}
@media screen and (max-width: 500px) {
    .signup_tagline {
      margin-top:15%;
      margin-left: 5%;
      margin-right: 5%;
      color: #e82953;
      font-size: 25px;
      font-weight: 300;
      font-style: italic;
      margin-bottom: 20%;
    }
    .login_form {
      margin-top: 130px;
      width: 300px;
      height: 350px;
      background: #fff;
      border-radius: 5px;
      border: solid 1px;
      margin-left: 5%;
      margin-bottom: 50px;
    }
    .login_div {
      width: 400px;
      height: 400px;
      left: 50%;
      margin-top: 10px;
      margin-left: -175px;
      margin-bottom: 20px;
    }
    .loginEmail {
      margin: 20px;
      padding-left: 10px;
   }
   .loginPass {
      margin: 20px;
      padding-left: 10px;
    }
   .loginEmailValidation {
     color: red;
     font-size: 16px;
     margin-left: 5%;
   }
   .loginBtn
    {
    background-color: #e82953;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    min-width: 80px;
    max-width: 80px;
    margin: 40px;
  }

.signupBtn {
  background-color: #e82953;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  min-width: 80px;
  max-width: 80px;
  margin-left: 20px;
}
  }